---
import type { Experience } from "../types/CiriculumVitae";
import "@styles/components/Experience.scss";

interface Props {
  title: string;
  experience: Experience[];
}

const { title, experience } = Astro.props as Props;

const wrapAppBakery = (text: string) => {
  return text.replace(
    /App Bakery/g,
    '<span class="rainbow-text">App Bakery</span>',
  );
};
---

<section>
  <h2>{title}</h2>
  {
    experience.map((experience) => (
      <div class="experience-list-item">
        <p class="experience-duration-display">
          {experience.startDate}
          {!!experience.endDate && ` - ${experience.endDate}`}
        </p>
        <div class="experience-content">
          <h3>
            {experience.role}
            {!!experience.name && ` · ${experience.name}`}
          </h3>
          <p set:html={wrapAppBakery(experience.description)} />
          {!!experience.technologies && (
            <ul aria-label="Used technologies:">
              {experience.technologies.map((technology) => (
                <li>{technology}</li>
              ))}
            </ul>
          )}
        </div>
      </div>
    ))
  }
</section>
<script src="../utils/components/ExperienceObserver.js"></script>
