---
import { Image } from "astro:assets";
const { name, title, about, slug } = Astro.props;
import image from "../../public/assets/images/profile.jpg";
import "@styles/components/Hero.scss";
---

<section class="two__column">
  <div>
    <p>{slug}</p>
    <h1 data-name={name} data-title={title}><span class="cursor"></span></h1>
    <p>{about}</p>
  </div>
  <Image
    class="profile__image"
    src={image}
    alt="Profile image of Mischa Haenen"
    width="300"
    height="300"
    loading="lazy"
  />
</section>
<script src="../utils/components/Hero.js"></script>
