---
import { Image } from "astro:assets";
const { name, title, about, slug } = Astro.props;
import image from "../assets/images/profile.jpg";
import "@styles/components/Hero.scss";
---

<section class="two-column-layout">
  <div>
    <p class="text-big">{slug}</p>
    <h1 class="heading-colorful-bold" data-name={name} data-title={title}>
      {name}
    </h1>
    <p class="text-big">{about}</p>
  </div>
  <Image
    class="profile-image"
    src={image}
    alt="Profile image of Mischa Haenen"
  />
</section>
<script>
  import { sleep, typeText, deleteText } from "../utils/typing.ts";
  const heading = document.querySelector("h1");
  const texts = [
    heading?.dataset.name || "Mischa Haenen",
    heading?.dataset.title || "Software Engineer",
  ];

  const runAnimation = async () => {
    if (!heading) return;
    heading.innerHTML = "";

    const cursorSpan = document.createElement("span");
    cursorSpan.className = "cursor";
    heading.appendChild(cursorSpan);

    for (const text of texts) {
      await typeText(heading, text, cursorSpan);
      await sleep(2000);
      await deleteText(heading, text.length);
    }
    window.requestAnimationFrame(runAnimation);
  };

  window.requestAnimationFrame(runAnimation);
</script>
