---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import logo from "../../public/favicon.svg";
import LanguagePicker from "./LanguagePicker.astro";
import "@styles/components/Navbar.scss";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header>
  <a href="#main" class="skip-to-content-link">Skip to main content</a>
  <a href={`/${lang}/`}
    ><Image class="header-logo" src={logo} alt="logo" width="75" /></a
  >
  <nav>
    <ul class="navigation-bar">
      <LanguagePicker />
      <li>
        <a
          class="navigation-link"
          href={`/${lang}/`}
          aria-current={Astro.url.pathname === `/${lang}/` ? "page" : null}
          data-astro-reload
        >
          {t("nav.home")}
        </a>
      </li>
      <li>
        <a
          class="navigation-link"
          href={`/${lang}/contact/`}
          aria-current={Astro.url.pathname === `/${lang}/contact/`
            ? "page"
            : null}
          data-astro-reload
        >
          {t("nav.contact")}
        </a>
      </li>
    </ul>
  </nav>
</header>
