---
import type { Language } from "../types/CiriculumVitae";
import { Image } from "astro:assets";

interface Props {
  title: string;
  technologies: Language[];
}

const { title, technologies } = Astro.props as Props;
---

<section>
  <h2>{title}</h2>
  <ul class="card__list">
    {
      technologies.map((tech) => (
        <li class="card">
          <Image
            src={`/assets/svg/${tech.code}.svg`}
            alt={tech.language}
            width="50"
            height="50"
            loading="lazy"
          />
          <div class="card__description">
            <h3>{tech.language}</h3>
            <p>{tech.proficiency}</p>
          </div>
        </li>
      ))
    }
  </ul>
</section>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.remove("card--hidden");
            observer.unobserve(entry.target);
          }
        });
      },
      {
        threshold: 1,
      },
    );

    document.querySelectorAll(".card").forEach((card) => {
      card.classList.add("card--hidden");
      observer.observe(card);
    });
  });
</script>
<style lang="scss">
  h2 {
    margin-top: 4rem;
  }
  .card__list {
    --card-width: 14rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    gap: 2rem;
    padding-left: 0;
  }

  .card {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: start;
    background-color: color-mix(
      in srgb,
      var(--accent-color-dark) 20%,
      transparent
    );
    border-radius: 10px;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    .card__description > * {
      margin: 0;
    }

    .card__description p {
      color: var(--grey-color);
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  .card--hidden {
    opacity: 0;
    transform: translateY(50px);
  }

  @media screen and (max-width: 640px) {
    .card__list {
      --card-width: 4rem;
      gap: 1rem;
    }
    .card {
      padding: 0.5rem;
      justify-content: center;
      gap: 0;
      .card__description {
        display: none;
      }
    }
  }
  @media (prefers-color-scheme: dark) {
    .card {
      background-color: color-mix(
        in srgb,
        var(--primary-color-dark) 10%,
        transparent
      );
    }
  }
</style>
