---
import type { Language } from "../types/CiriculumVitae";
import { Image } from "astro:assets";
import "@styles/components/Technology.scss";

interface Props {
  title: string;
  technologies: Language[];
}

const { title, technologies } = Astro.props as Props;
---

<section>
  <h2>{title}</h2>
  <ul class="card__list">
    {
      technologies.map((tech) => (
        <li class="card">
          <Image
            src={`/assets/svg/${tech.code}.svg`}
            alt={tech.language}
            width="50"
            height="50"
            loading="lazy"
          />
          <div class="card__description">
            <h3>{tech.language}</h3>
            <p>{tech.proficiency}</p>
          </div>
        </li>
      ))
    }
  </ul>
</section>
<script src="../utils/components/Technology.js"></script>
