---
import type { Language } from "../types/CiriculumVitae";
import { Image } from "astro:assets";
import "@styles/components/Technology.scss";

interface Props {
  title: string;
  technologies: Language[];
}

const { title, technologies } = Astro.props as Props;
const images = import.meta.glob<ImageMetadata>("../assets/svg/*", {
  import: "default",
});
---

<section>
  <h2>{title}</h2>
  <ul class="card-collection">
    {
      technologies.map(async (tech) => (
        <li class="card">
          <Image
            src={await images[`../assets/svg/${tech.code}.svg`]()}
            alt={tech.language}
            width="50"
            height="50"
            loading="lazy"
          />
          <div class="card-description">
            <h3>{tech.language}</h3>
            <p>{tech.proficiency}</p>
          </div>
        </li>
      ))
    }
  </ul>
</section>
<script src="../utils/components/TechnologyObserver.js"></script>
